section.newsSec {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
}

.newsSec {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 20px;
}

.newsSec article {
  flex: 0 0 32%;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
}

.newsSec article h2 {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  text-shadow: none;
  color: var(--mainColor);
}

.newsSec article p {
  line-height: 2em;
  color: gray;
  text-indent: 35px;
  margin: 10px 0 35px 0;
}

@media screen and (max-width: 750px) {
  .newsSec article {
    flex: 40%;
    margin-right: 10px;
  }
}

@media screen and (max-width: 700px) {
  .newsSec article h2 {
    font-size: 16px;
  }

  .newsSec article p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 600px) {
  .newsSec {
    display: block;
  }

  .newsSec article {
    flex: 0;
  }

  section.newsSec {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .newsSec article {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
