/* All Pages */

/* Global */

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  --mainColor: #1357b1;
  --backgroundColor: aliceblue;
}

::selection {
  background-color: var(--mainColor);
  color: white;
}

body {
  background-color: var(--backgroundColor);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  outline: 0;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 10px;
  outline: none;
}

/* Header */

header {
  position: fixed;
  background-color: var(--mainColor);
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 80px;
  z-index: 1;
}

header a {
  font-size: 32px;
  text-decoration: none;
  color: whitesmoke;
  border: 8px solid white;
  padding: 6px 12px;
  margin: -11.25px;
  display: inline-block;
  border-radius: 36px;
  text-shadow: 3px 3px 6px black;
}

@media screen and (max-width: 550px) {
  header {
    position: relative;
    height: 60px;
  }
  header a {
    font-size: 24px;
    margin: -16.25px;
  }
}

/* Banner */

.banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.banner .welcome {
  background-color: gray;
  color: whitesmoke;
  position: absolute;
  padding: 5%;
  top: 35%;
}

.banner h1 {
  font-size: 32px;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  font-variant: small-caps;
}

.banner span {
  font-size: 1.3em;
}

@media screen and (max-width: 700px) {
  .banner h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .banner .welcome {
    position: relative;
    top: -5px;
  }
  .banner h1 {
    font-size: 25px;
  }
}

/* Navigation */

nav {
  background-color: whitesmoke;
  padding: 5px;
  margin: 0px;
  position: sticky;
  top: 80px;
  z-index: 1;
}

nav ul {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  display: block;
  font-size: 25px;
  margin: 10px;
  color: gray;
  list-style: none;
}

nav li a {
  display: block;
  text-decoration: none;
  color: gray;
  transition: 0.3s;
}

nav li a.current {
  text-decoration: underline;
  background-color: gainsboro;
  padding: 3px;
}

nav li a.join {
  color: var(--mainColor);
}

nav li a:hover {
  text-decoration: underline;
  background-color: gainsboro;
  padding: 3px;
}

@media screen and (max-width: 800px) {
  nav li {
    font-size: 18px;
  }
}

@media screen and (max-width: 550px) {
  nav {
    top: 0;
  }
  nav ul {
    display: block;
    text-align: center;
  }

  nav li {
    margin-bottom: 10px;
  }
}

/* Footer */

footer {
  background-color: var(--mainColor);
  color: whitesmoke;
  padding: 10px;
  text-align: center;
}

/* Main Page */

/* Main Section */

section.main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
}

.main article h1 {
  color: var(--mainColor);
  font-size: 32px;
  text-shadow: 1.5px 1.5px black;
}

.main article p {
  line-height: 2em;
  color: gray;
  text-indent: 35px;
  margin: 10px 0 35px 0;
}

.main article p::first-letter {
  font-size: 1.3em;
  font-weight: bold;
}

/* Images Gallery */

.images {
  text-align: center;
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.image {
  max-width: 46%;
  transition: 0.3s;
}

.image img {
  width: 100%;
}

.images figcaption {
  font-style: italic;
  font-size: 1em;
  color: gray;
  background-color: gainsboro;
}

.image:hover {
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .images {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .image {
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

/* Join Section */

section.join {
  background-color: #f4f4f4;
  text-align: center;
  padding: 60px 20px;
  color: #4b4b4b;
}

.join h2 {
  font-size: 30px;
  text-shadow: 1.5px 1.5px gray;
}

.join form input.email {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 30px;
  text-align: center;
  border: 4px solid black;
}

.join form input.submit {
  font-size: 20px;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: white;
  border: 4px solid black;
}

.join form input.email:focus {
  border: 4px dashed #4b4b4b;
  outline: none;
}

.join form input.email:valid {
  border: 4px solid #71d300;
}

.join p::first-letter {
  font-size: 1.3em;
  font-weight: bold;
}

@media screen and (max-width: 380px) {
  .join form input.email {
    margin: 0 auto;
    padding: 2px 5px;
    font-size: 16px;
  }
  .join form input.submit {
    margin: 10px auto;
    font-size: 12px;
    padding: 5px 10px;
  }
}

/* News Page */

/* Main */

section.newsSec {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
}

/* Articles Design */

.newsSec {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 20px;
}

.newsSec article {
  flex: 0 0 32%;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
}

.newsSec article h2 {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  text-shadow: none;
  color: var(--mainColor);
}

.newsSec article p {
  line-height: 2em;
  color: gray;
  text-indent: 35px;
  margin: 10px 0 35px 0;
}

@media screen and (max-width: 750px) {
  .newsSec article {
    flex: 40%;
    margin-right: 10px;
  }
}

@media screen and (max-width: 700px) {
  .newsSec article h2 {
    font-size: 16px;
  }

  .newsSec article p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 600px) {
  .newsSec {
    display: block;
  }

  .newsSec article {
    flex: 0;
  }

  section.newsSec {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .newsSec article {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Manga Page */

/* Main */

section.mangaSection {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
}

@media screen and (max-width: 550px) {
  section.mangaSection {
    max-width: 100%;
    width: auto;
    padding: 0;
    margin: 10px;
  }
}

/* Table */

table.vols {
  width: 100%;
}

table.vols,
.vols th,
.vols td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.1em;
}

.vols th {
  background-color: var(--mainColor);
  color: white;
  font-size: 1.3em;
  text-shadow: 2px 2px 4px black;
}

.vols td img {
  width: 90px;
  height: 142px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.vols tr:nth-child(even) {
  background-color: #f2f2f2;
}

.vols tr:nth-child(odd) {
  background-color: whitesmoke;
}

.vols tr:hover {
  background-color: #ddd;
}

@media screen and (max-width: 380px) {
  table.vols,
  .vols th,
  .vols td {
    font-size: 0.9em;
  }
  .vols th {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 300px) {
  .vols td img {
    width: 60px;
    height: 94.2px;
  }
}

/* Contact us Page */

/* Global Form */

section.form {
  background-color: #f4f4f4;
  padding: 60px 15%;
  color: #4b4b4b;
  font-size: 18px;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 640px) {
  section.form {
    padding: 60px 5%;
  }
}

.form fieldset {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  margin-top: 20px;
  border-radius: 30px;
  border: 4px solid;
}

.form legend {
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  border: 4px solid black;
  color: var(--mainColor);
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: 700;
}

.form input {
  font-size: 18px;
  letter-spacing: 0.1em;
  background-color: white;
}

/* Radio Buttons */

.form input[type="radio"] {
  opacity: 0;
  width: 0;
  margin: 0;
  background: url("../img/checks.png") no-repeat;
  background-position: 0 0;
}

.form label[for="male"],
.form label[for="female"] {
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 26px;
  cursor: pointer;
  background: url("../img/checks.png") no-repeat;
  background-position: 0 -32px;
  transition: all 0.5s ease;
}

.form input:checked + label[for="male"],
.form input:checked + label[for="female"] {
  background-position: 0 0;
  color: var(--mainColor);
  font-weight: bold;
}

/* Selecet Box */

.form select,
.form option {
  font-size: 16px;
  letter-spacing: 0.1em;
  width: 100%;
}

.form select {
  appearance: none;
  margin: 10px 0;
  padding: 10px 50px 10px 10px;
  background: url("../img/select.png") no-repeat;
  background-position: 99% center;
  border-radius: 15px;
  border: 4px solid black;
  outline: none;
  background-color: white;
}

/* Email and tel */

.form input[type="email"],
.form input[type="tel"] {
  display: block;
  width: 100%;
  padding: 10px 10px 10px 50px;
  margin-bottom: 20px;
  border-radius: 15px;
  background: url("../img/inputs.png") no-repeat;
  background-color: white;
  border: 4px solid black;
  transition: all 0.5s ease;
  outline: none;
}

.form input[type="email"]:focus,
.form input[type="tel"]:focus,
.form textarea:focus {
  border: 4px dashed #4b4b4b;
}

.form input[type="email"]:valid,
.form input[type="tel"]:valid {
  border: 4px solid #71d300;
  margin: 0;
}

.form input[type="email"]:valid + .tick,
.form input[type="tel"]:valid + .tick {
  background: url("../img/tick.png") no-repeat;
  background-size: 100%;
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  margin: 10px;
}

.form input[type="email"] {
  background-position: 7px 8px;
}

.form input[type="tel"] {
  background-position: 7px -58px;
}

/* Textarea */

.form textarea {
  width: 100%;
  resize: none;
  font-size: 18px;
  letter-spacing: 0.1em;
  border-radius: 15px;
  border: 4px solid black;
  outline: none;
  padding: 15px;
}

@media screen and (max-width: 450px) {
  .form textarea {
    height: 350px;
  }
}

@media screen and (max-width: 350px) {
  .form textarea {
    height: 200px;
  }
}

/* Button */

.form input[type="submit"],
.form input[type="reset"] {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px 5%;
  border-radius: 30px;
  background-color: white;
  border: 4px solid black;
}
